import("S4Vectors")
import("GenomicRanges")
import("SummarizedExperiment")

importMethodsFrom("IRanges", extractList, splitAsList, subsetByOverlaps)
importMethodsFrom("GenomeInfoDb", seqlevels, "seqlevels<-", seqnames)
importFrom("GenomeInfoDb", orderSeqlevels)

importFrom("grDevices", "col2rgb", "dev.off", "png", "rgb")
importFrom("graphics", "barplot", "boxplot", "par", "segments", "symbols", "text")
importFrom("methods", "as", "is")
importFrom("stats", "chisq.test", "formula", "mad", "median", "model.matrix",
    "p.adjust", "pchisq", "phyper", "pnorm", "qnorm","quantile", "rnorm", 
    "runif")
importFrom("utils", "available.packages", "browseURL", "capture.output", 
    "download.file", "data", "memory.limit", "read.csv", "read.delim", 
    "untar", "unzip", "write.table")


export( 
    analyzeCancerType,
    analyzeCooccurence,
    analyzeStrata,
    annotateCytoBands,
    bpSubtypeStrata,
    circosSubtypeAssociation,
    corPermTest,
    getBroadSubtypes,
    getCnvGenesFromTCGA,    
    getMatchedAbsoluteCalls,
    gistic2RSE,
    gvizRegion,
    mapOVSubtypes,
    plotCommonSCNAs,
    plotCorrelation,
    plotNrCNAsPerSubtype,
    plotNrSamples,
    plotNrSubtypesVsNrGisticRegions,
    plotPurityStrata,
    plotSubclonalityDistributions,
    plotSubtypePurityPloidy,
    plotlyPie,
    populationRanges,
    populationRangesRO,
    querySubclonality,
    stratifyByPurity,
    stratifySubclonality,
    testSubtypes,
    volcanoCorrelation     
)
